.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center; 
  align-items: center;    
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 1.25rem 1.875rem; 
  border-radius: 1rem;      
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 25rem;             
  max-width: 90%;
  text-align: center;
}

.top {
    display: flex;
    justify-content: space-between
}

.closeBtn {
    background-color: white;
    border-style: none;
}

.typeBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 1.25rem; 
}

.typeBtn {
  width: 10rem;        
  border-radius: 0.5rem; 
  padding : 1.25rem;   
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap : 1.875rem;   
  margin-top : 1.25rem; 
}

.inputDate {
  text-align: center;
}

.addBtn {
  padding : 0.625rem 1.25rem; 
  border-radius: 0.5rem;      
  cursor: pointer;
}