.container {
    flex : 1
}

.listWrap {
    display: flex;
    flex-direction: column;
    gap : 30px;
    justify-content: center;
}


.listItem {
    list-style: none;
    display: flex;
    align-items: center;
    gap : 12px;
    border : 2px solid #333;
    border-radius: 12px;
    padding : 1rem 1rem;
    font-size : 11px;
    font-weight: 600;
}

.listItem img {
    display: block;
}