.container {
    display: flex;
    width: 100%;
    margin : 0 auto;
    height: 100vh;

}

.sideWrap {
    flex : 0 0 300px;
    box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}

.contentWrap {
    flex : 1;
}