.container { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 1.25rem; 
}

.logoWrap {
    height : 3.75rem; 
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap : 1.875rem; 
}

.sectionWrap {
    display: flex;
    flex-direction: column;
    gap : 0.625rem; 
}

.sectionTitle {
    font-size : 0.75rem; 
}

.menuItem {
    display: flex;
    align-items: center;
    gap : 0.3125rem;
    text-decoration: none;
    color : #333;
    font-size : 1rem; 
    border-radius: 0.5rem; 
}

.active {
    background-color: #e8f3ff;
    font-weight: bold;
}