.container { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 20px;
}

.logoWrap {
    height : 60px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap : 30px;
}

.sectionWrap {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.sectionTitle {
    font-size : 12px;
}

.menuItem {
    display: flex;
    align-items: center;
    gap : 5px;
    text-decoration: none;
    color : #333;
    font-size : 16px;
    border-radius: 8px;
}

.active {
    background-color: #e8f3ff;
    font-weight: bold;
}