.container {
    padding : 20px;
}

.title {
    font-size : 24px;
    font-weight: 700;
}

.contentWrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap : 30px;
    padding : 30px;
    height: 100%;
}

.summaryArea {
    grid-column: span 2;
}

.chartArea {

}

.listArea {

}