.container {
    width : 100%;
    min-height: 100vh;
}

.title {
    font-size : 26px;
    font-weight: 700;
}

.topSection {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addSubscriptionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 8px 50px;
    background-color: #d1fae5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-radius: 8px;
}

.divider {
    width: 100%;
    height: 4px;
    margin-top: 30px;
    background-color: #e5e7eb;
}

.bottomSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding : 30px 30px;
}



.chartArea {

}

.listArea {

}