.container {
    flex : 1;
}

.divider {
    width: 100%;
    height: 0.25rem;
    margin-top: 1.875rem;
    background-color: #e5e7eb;
}

.searchWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 30px;
    padding : 3rem 1rem;
}