.topWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuWrap {
    
}

.gaugeWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 2px solid #333;
    border-radius: 8px;
    padding : 0;
    margin : 0;
}