@media (max-width : 600px) {
    .container {
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap : 12px;
}

.title {
    margin : 0;
}

.UpcomingListWrap {
    min-height: 480px;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ListWrap {
    display: flex;
    flex-direction: column;
    gap :20px;
    padding : 0;
    flex : 1;
}

.item {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 0.5rem 1rem;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size : 13px;
    font-weight: 700;
}

.itemCenter {
    display: flex;
    flex-direction: column;
    gap : 5px;
}

.itemRight {
    white-space: nowrap;

}

.divider {
    width: 100%;
    height: 2px;
    background-color: #666;
;
}

.footer {
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerCenter {
    font-size : 11px;
    font-weight: 700;
}

.moveBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
    padding : 1px 5px;
    font-size : 11px;
    font-weight: 700;
}