.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  background-color: #f5f5f4;
}

.spinner {
  color: #292524; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}